doctype html
html(lang="fi")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1 Onneksi olkoon!
    h2 Ja tervetuloa katsomaan streamia! :):):):):):)
    
    video(autoplay controls style="max-width:100%;")
    
    script.
        function stopStream(){
            var video = document.querySelector('video');
            video.src = "";
            
            client.close();
            
            delete mediaSource;
            delete sourceBuffer;
        }
    
    button(onclick="stopStream()") Stop stream
    
    script(src="/js/lib/binaryjs.js")
    script(src="/js/home.js")