doctype html
html(lang="fi")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div(class="container")
        h1 *** Streamerisivu 2066 ***
        
        script.
            function stopStream(){
                var video = document.querySelector('video');
                //video.src = "";
                
                if (typeof curStream !== 'undefined'){
                    if (typeof curStream.stop !== 'undefined')
                        curStream.stop();
                    else if (typeof curStream.getTracks !== 'undefined'){
                        curStream.getTracks()[0].stop();
                    } else {
                        alert("Streamia ei voi pysäyttää! Pakene sivulta turvaan!");
                    }
                }
                recorder.stop();
                video.pause();
                client.close();
                
                delete recorder;
                delete curStream;
                
                CONNECTED = false;
            }
        
        button(onclick="stopStream()") Stop stream
        
        video(autoplay style="max-width:100%;")
    
    script(src="/js/lib/binaryjs.js")
    script(src="/js/stream.js")
    link(rel="stylesheet" href="/css/bootstrap.min.css")